.header {
  padding-top: 22px;
  padding-bottom: 21px;

  & img:hover {
    cursor: pointer;
    transition: all 0.5s ease;
    vertical-align: middle;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__nav {
    padding-left: 59px;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__link {
    color: $text-color;
    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    transition: all 0.5s ease;
  }
  &__link:hover {
    cursor: pointer;
    color: $activ-text-color;
    transition: all 0.5s ease;
  }
  &__link:active {
    cursor: pointer;
    color: $text-color;
    opacity: 0.6;
    transition: all 0.5s ease;
  }

  &__btn {
    @include btn;
    width: 180px;
    height: 53px;
    text-align: center;
    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    transition: all 0.5s ease-in-out;
  }
  &__btn:hover {
    cursor: pointer;
    background-color: $white-color;
    color: $activ-text-color;
    border: 1px solid $activ-text-color;
    transition: all 0.5s ease;
  }
  &__btn:active {
    cursor: pointer;
                                                                  color: $text-color;
    transition: all 0.5s ease;
  }
}
