.rounds {
  padding: 147px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wrapper:not(:last-child) {
    padding-bottom: 105px;
  }
  &__box {
    width: 445px;
    position: relative;
  }

  &__title {
    color: $gray-color;
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
    padding-bottom: 24px;
  }
  &__text {
    color: $text-color;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 40px;
  }

  &__btn {
    @include btn;
    width: 180px;
    height: 53px;
    text-align: center;
    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    transition: all 0.5s ease-in-out;
  }
  &__btn:hover {
    cursor: pointer;
    background-color: transparent;
    // color: $activ-text-color;
    border: 1px solid $activ-text-color;
    transition: all 0.5s ease;
  }
  &__btn:active {
    cursor: pointer;
    color: $gray-color;
    transition: all 0.5s ease;
  }
  .zero_pay {
    width: 445px;
    height: 445px;
    border-radius: 445px;
  }
  .easy_bg::after{
    content: url(../../img/easy_girl.svg);
    position: absolute;
    right: -900px;
  }
  .siti_gb::after {
    content: url(../../img/sity_line.svg);
    position: absolute;
    left: -800px;
    top: 0%;
  }
  .zero_bg::after {
    content: url(../../img/easy_line.svg);
    position: absolute;
    right: -800px;
    top: 0;
  }

}
